.Navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color:gray;
}

.Navbar_menu{
    display: flex;
    column-gap: 50px;
}

.Navbar_brand{

}
.navbar_input{
    display: flex;
    background-color: gray;
}
.navbar_input input{
    display: flex;
    border-radius: 5px;
    width: auto;
    height: 30px;
}
.navbar_input button{
    background-color: gray;
    width: 30px;
    height: 30px;
}
